doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="stylesheet", href="./styles/normolize.css")
    body 
        include ./modules/header.pug
        main 
            .container
                section.main-banner 
                    .main-banner__img-container 
                        img(src="./assets/IMAGE.png")
                    .main-banner__content 
                        span.main-banner__content-text Illustration
                        h1.main-banner__content-title Japan House opens in mountainside to foster peak creativity.
                        .main-banner__content-desc Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
                        button.main-banner__content-btn By Reta Torphy
            .container 
                section.main-photos 
                    .main-photos__img-block 
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE1.png", alt="")
                            span.main-photos__block-article-text Photography
                            h1.main-photos__block-article-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                            button.main-photos__block-article-btn by Alessandra Ortiz
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE2.png", alt="")
                            span.main-photos__block-article-text Photography
                            h1.main-photos__block-article-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                            button.main-photos__block-article-btn by Rosanna Ondricka
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE3.png", alt="")
                            span.main-photos__block-article-text Photography
                            h1.main-photos__block-article-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                            button.main-photos__block-article-btn by Rosanna Ondricka
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE4.png", alt="")
                            span.main-photos__block-article-text Interactive Design
                            h1.main-photos__block-article-title London-based Yinka Ilori’s storytelling furniture
                            button.main-photos__block-article-btn by Annie Lueilwitz
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE5.png", alt="")
                            span.main-photos__block-article-text Graphic Design
                            h1.main-photos__block-article-title Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck
                            button.main-photos__block-article-btn by Simeon Brekke
                        .main-photos__img-block-article 
                            img(src="./assets/IMAGE6.png", alt="")
                            span.main-photos__block-article-text Architecture
                            h1.main-photos__block-article-title Suzanne Saroff’s meticulously arranged photographs alter perceptions
                            button.main-photos__block-article-btn by Reta Torphy
            .container 
                section.main-photo 
                    span.main-photo__text LATEST POSTS
                    .main-photo__img-block 
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE.png", alt="")
                            span.main-photo__block-article-text Illustration
                            h1.main-photo__block-article-title Japan House opens in mountainside to foster peak creativity.
                            button.main-photo__block-article-btn By Reta Torphy
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE1.png", alt="")
                            span.main-photo__block-article-text Photography
                            h1.main-photo__block-article-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                            button.main-photo__block-article-btn by Alessandra Ortiz
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE2.png", alt="")
                            span.main-photo__block-article-text Photography
                            h1.main-photo__block-article-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                            button.main-photo__block-article-btn by Rosanna Ondricka
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE3.png", alt="")
                            span.main-photo__block-article-text Photography
                            h1.main-photo__block-article-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                            button.main-photo__block-article-btn by Rosanna Ondricka
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE4.png", alt="")
                            span.main-photo__block-article-text Interactive Design
                            h1.main-photo__block-article-title London-based Yinka Ilori’s storytelling furniture
                            button.main-photo__block-article-btn by Annie Lueilwitz
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE5.png", alt="")
                            span.main-photo__block-article-text Graphic Design
                            h1.main-photo__block-article-title Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck
                            button.main-photo__block-article-btn by Simeon Brekke
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE6.png", alt="")
                            span.main-photo__block-article-text Architecture
                            h1.main-photo__block-article-title Suzanne Saroff’s meticulously arranged photographs alter perceptions
                            button.main-photo__block-article-btn by Reta Torphy
                        .main-photo__img-block-article 
                            img(src="./assets/IMAGE7.png", alt="")
                            span.main-photo__block-article-text Graphic Design
                            h1.main-photo__block-article-title Anu Ambasna’s playful illustrations celebrate club culture, brown bodies and perfect paunches
                            button.main-photo__block-article-btn by Leo Bartell
                .button_photo
                    button.main-photo__btn view all latest posts  
            .container 
                section.featured_POSTS
                    span.featured_POSTS__text LATEST POSTS
                         .featured_POSTS__img-block 
                            .featured_POSTS__img-block-article 
                                img(src="./assets/IMAGE8.png", alt="")
                                span.featured_POSTS__block-article-text Graphic Design
                                h1.featured_POSTS__block-article-title A Brief History of the FIFA World Cup Logo
                                button.featured_POSTS__block-article-btn by Clem Onojeghuo
                            .featured_POSTS__img-block-article 
                                img(src="./assets/IMAGE9.png", alt="")
                                span.featured_POSTS__block-article-text Graphic Design
                                h1.featured_POSTS__block-article-title Need a guide to LA’s graphic design scene? Shoplifters’ new issue has got your back
                                button.featured_POSTS__block-article-btn by Alessandra Ortiz
                            .featured_POSTS__img-block-article 
                                img(src="./assets/IMAGE10.png", alt="")
                                span.featured_POSTS__block-article-text Photography
                                h1.featured_POSTS__block-article-title Fred Rowson directs film for Years and Years
                                button.featured_POSTS__block-article-btn by Coby Gottlieb
                            .featured_POSTS__img-block-article 
                                img(src="./assets/IMAGE11.png", alt="")
                                span.featured_POSTS__block-article-text Illustration
                                h1.featured_POSTS__block-article-title M&C Saatchi and Fontsmith collaborate on font collection for House of St Barnabas
                                button.featured_POSTS__block-article-btn by Annie Lueilwitz

        include ./modules/footer.pug